<a href="https://colab.research.google.com/github/lPedromiguel/Data_Science_Course_CODING_DOJO/blob/main/Data_Cleaning_Part_2_Missing_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleaning: Missing Values



> "Garbage in, garbage out."  

Let's clean up the garbage!

In this notebook we will:

1. Review dropping unnecessary columns and duplicates, correcting datatypes, and fixing poorly formed categories
2. Identify columns with missing values
3. Choose and implement strategies for dealing with missing values.

In [ ]:
# Import Pandas
import pandas as pd

# The Data

We will be using a slightly altered version of the Titanic dataset, which is a common practice dataset for learning data science.

The dataset contains information about passengers on The Titanic as well a column describing whether they survived the accident or not.  The ultimate goal of most predictions on this dataset is to predict who will survive based on the other information.  Our goal will be to clean the data and make it ready for analysis.

Each row contains data about one passenger.

# Data Dictionary

Sometimes your data will come with a dictionary that helps you understand what the columns mean and what data types should be in them.  This is useful for cleaning the data.

| Column   | Description                                | Value Keys                                     | Type  |
|----------|--------------------------------------------|------------------------------------------------|-------|
| survival | Survival                                   | 0 = No, 1 = Yes                                | int   |
| pclass   | Ticket class                               | 1 = 1st, 2 = 2nd, 3 = 3rd                      | int   |
| sex      | Sex                                        |                                                | string   |
| Age      | Age in years                               |                                                | int   |
| sibsp    | # of siblings / spouses aboard the Titanic |                                                | int   |
| parch    | # of parents / children aboard the Titanic |                                                | int   |
| ticket   | Ticket number                              |                                                | string   |
| fare     | Passenger fare                             |                                                | float |
| cabin    | Cabin number                               |                                                | string   |
| embarked | Port of Embarkation                        | C = Cherbourg, Q = Queenstown, S = Southampton | string   |

In [ ]:
# Load the Data
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vQ7Xta6T-hqBFfQTUMNSVdl03z74KlyecepwOK0Y4s_zv0CG6L8NrVP8tlBsnV2tI4W_cHE5NB9cduU/pub?output=csv')

## df.head()
`df.head()` is one of our most important methods.  It lets us examine the first 5 rows of our dataframe and as many columns as our maximum display columns configuration will allow.

Look below and try to decide which columns will be useful for analysis and predictions, and which columns probably do not any information that would be relevant to who might survive the catastrophic sinking of The Titanic.

In [ ]:
# Examine the first 5 rows
df.head()

# Remove Duplicates

We don't want any duplicate entries in our data.  This will skew our analysis and confuse our predictive models.  Duplicate entries are quite common in data that has not been cleaned.

We can use `df.duplicated()` to show whether rows are duplicates.

In [ ]:
# Check for duplicates
df.duplicated()

Well, we don't want to have to look row by row, so let's use `.sum()` to add up all of the `True` values.  When using `.sum()`, a `True` value will evaluate to a 1.

In [ ]:
# Count the duplicates
df.duplicated().sum()

We have 122 duplicated rows.  We can simply remove those with df.drop_duplicates().

In [ ]:
# Remove duplicates
df = df.drop_duplicates()
df.duplicated().sum()

# Remove Unnecessary Columns

The `Unnamed: 0` column is probably a duplicate of the index.  You'll see this sometimes as Pandas tries to assign a new index when one already exists in the data.  We can drop that.

The `PassengerID` is a numbering of passengers.  Most likely the passenger number will not affect whether they passenger survided.  They also all have separate values, but are not ordered in any way and do not describe any quantitative feature of the passenger.  We will remove that.

The `Name` column is the passenger's name.  There is probably little or no correlation between a passenger's name and whether they survived.  Like `PassengerID` they are probably unique to each row and probably won't be useful for analysis or prediction.  We will remove that.

In [ ]:
# Remove unnecessary columns
df = df.drop(columns=['Unnamed: 0', 'PassengerId', 'Name'])
df.head()

## Further study of columns with df.nunique()

`.nunique()` will tell us how many unique values are in each column.  This can give us a clue about the liklihood of finding a relationship between the column value and other data.

In [ ]:
# Examine the number of unique values in columns
df.nunique()

`Ticket` is a category, but there are almost as many different unique values as there are rows in the dataframe.  If the Ticket data is different for most every passenger and it's not a number describing some quality of the passenger, like 'Age', then it probably won't be very useful.  We will drop that, too.

## Notice
We are using judgement calls here.  Data scientists often must use their judgement, and it's often useful to consult a subject matter expert to double check our judgement when possible.

In [ ]:
# Drop the Ticket column
df = df.drop(columns='Ticket')

# Correct Data Types

## .info() 
`df.info()` is a very useful method.  It tells us a lot about our data.  What information can you gain from looking at the output below?

In [ ]:
# Check columns, rows, data types, and missing values
df.info()

We see that there are 906 entries (rows), 9 columns remaining, and we can see how many values there are in each column and what their datatype is.

`Age` has a few missing values, `Cabin` has a lot of missing values, and `Embarked has just 2 missing values.  We will learn how to deal with those in another lesson.

Also notice that `SibSp` is an object data type.  That column represents the number of siblings and spouses a passenger has aboard with them, so it should be an integer.  Let's examine that more closely.

## Correcting Datatypes

We can use `df[column].astype(type)` to change the datatype of a column. For instance we want to change `df['SibSp']` from an object to an integer.

In [ ]:
# Change the SibSp column from an object to an integer
df['SibSp'] = df['SibSp'].astype(int)

## Errors Changing Types

Oh!  We got an error!  If we look carefully at the bottom of the error it says: `ValueError: invalid literal for int() with base 10: 'one'`

It says it can't change the string 'one' to an integer.  That means one of the values is 'one' instead of 1!

We can use `.replace` to change those, even if there are more than one of them.

In [ ]:
# Replace the bad value in SibSp and try again to change the type
df['SibSp'] = df['SibSp'].replace('one', 1)
df['SibSp'] = df['SibSp'].astype(int)
df.info()

`df['Age']` should also be an integer, but it is shown as a float.  This usually doesn't matter very much, as machine learning and most visualizations will display ints and floats the same.  But, what happens if we try to change the datatype?

In [ ]:
df['Age'] = df['Age'].astype(int)

The `df['Age']` contains NA values, or missing values.  Missing values cannot be converted to integer columns.  When you see a column that should be an integer that is a float, often times this is the reason.

We will deal with the missing values in the 'Age' column in another lesson, so we will leave it as float type data for now.

# Check for Inconsistencies in Categorical Values

Another common problem with dirty data will be categories that are not uniform.  This can include misspellings, abbreviations or typos.

We can use `.value_counts()` again to examine our `object` type columns.  If we do this with numeric columns our outputs can often be too long to read easily.  It works best with categorical variables or columns.

In [ ]:
# Check the unique values and counts of the 'Sex' column
df['Sex'].value_counts()

We see that there are both 'female' and 'F' values.  We can assume these are meant to be the same, so we will replace 'F' with 'female' so that our categories are uniform.

## Correct Incorrect Categories

In [ ]:
# Standardize the values in the Sex column
df['Sex'] = df['Sex'].replace('F', 'female')
df['Sex'].value_counts()

# Identify Missing Values

In [ ]:
df.isna().sum()

'Age', 'Cabin', and 'Embarked' are all missing values.

## Dropping Rows

Only 2 rows are missing values in the 'Embarked' column.  We will just drop those 2 rows since they represent a very small percentage of our data.

In [ ]:
df.dropna(subset=['Embarked'], inplace=True)
df.isna().sum()

## Dropping Columns

The 'Cabin' column is missing a significant amount of data.

In [ ]:
num_missing = df['Cabin'].isna().sum()

total_rows = df.shape[0]

percent_missing = num_missing / total_rows
print(f'{percent_missing:.2f}% of the data in the Cabin column is missing')

Since it contains less than 50% non-null values, we will just drop that whole column.  We won't be able to analyze if everyone in the same cabin either survived or not, but we could always bring it back if we really needed to do that with the 23% of rows that have that information.

In [ ]:
df.drop(columns='Cabin', inplace=True)
df.isna().sum()

Too many rows are missing data in the 'Age' column to drop the rows, but not enough to drop the column.  Instead we will impute the missing values by filling them with the median value of the ages of all of the passengers.  This will introduce a lot of errors into our dataframe, but hopefully imputing with an average age will minimize those errors.

We might be able to do more complex imputation by looking carefully at each row for clues to how old each passenger might be, but we aren't going to do that in this example.

In [ ]:
age_median = df['Age'].median()
df['Age'].fillna(age_median, inplace=True)
df.isna().sum()

We can now also correct the datatype for `df['Age']`

In [ ]:
df['Age'] = df['Age'].astype(int)
df.info()

# NOTE:
The above imputation strategy is ONLY appropriate for preparing data for analysis.  You would not use this imputation technique when preparing data for machine learning.  You'll learn why in the next stack.

We have eliminated the missing data from the dataframe and the dataset is now ready for analysis and machine learning.

# Summary

In this lesson you reviewed data cleaning steps and learned how identify missing data, choose a strategy for dealing with it, and how to drop columns, drop rows, or use a simple imputation strategy to fill in missing data while minimizing the error you introduce into your data.